
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}


h2 {
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
}


.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

input[type="file"] {
    margin-top: 10px;
}


button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2980b9;
}


table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

th {
    background-color: #3498db;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}


a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    color: #1d6fa5;
}